.gallery {
  margin: 15px auto;
  max-width: 650px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  cursor: pointer;
}

.container {
  margin: 15px auto;
  max-width: 650px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
