.container {
  display: grid;
  align-items: top;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto 1fr;
  gap: 15px;
}
.title {
  grid-column-start: 1;
  grid-column-end: -1;
  justify-self: center;
}
.paragraph {
  grid-column-start: 1;
  grid-column-end: -1;
  justify-self: center;
}
.lands {
  justify-self: right;
  max-width: 30vw;
  grid-row-start: 3;
  grid-row-end: 3;
}
.arrow {
  grid-row-start: 4;
  grid-row-end: 4;
  justify-self: right;
  color: #fabb32;
  margin-right: 20px;
  font-size: 11vw;
}

.engr {
  display: block;
  justify-self: left;
  max-width: 35vw;
  object-fit: cover;
  height: 100%;
}
